<!--Table-->
<table class="table" style="margin-top:10%;">
  
      <!--Table head-->
      <thead class="mdb-color darken-3">
          <tr class="text-white">
              <th>#</th>
              <th>Locatie</th>
              <th>Afstand</th>
          </tr>
      </thead>
      <!--Table head-->
  
      <!--Table body-->
      <tbody>
          <tr>
              <th scope="row">1</th>
              <td>27 Duboisstraat </td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">2</th>
              <td>Van Aerdtstraat 40</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">3</th>
              <td>39 Cassiersstraat</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">4</th>
              <td>23 Fuggerstraat</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">5</th>
              <td>2 Viaduct-Dam</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">6</th>
              <td>2 De Waghemakerestraat</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">7</th>
              <td>99 van de Wervestraat</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">8</th>
              <td>290 Dambruggestraat</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">9</th>
              <td>1 Korte Dijkstraat</td>
              <td></td>
          </tr>
          <tr>
              <th scope="row">10</th>
              <td>27 Marnixstraat antwerp</td>
              <td></td>
          </tr>
      </tbody>
      <!--Table body-->
  </table>
  <!--Table-->