
<agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" style="height: 675px; margin-top:10%;">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  <agm-marker [latitude]="trash1.lat" [longitude]="trash1.lng"></agm-marker>
  <agm-marker [latitude]="trash2.lat" [longitude]="trash2.lng"></agm-marker>
  <agm-marker [latitude]="trash3.lat" [longitude]="trash3.lng"></agm-marker>
  <agm-marker [latitude]="trash4.lat" [longitude]="trash4.lng"></agm-marker>
  <agm-marker [latitude]="trash5.lat" [longitude]="trash5.lng"></agm-marker>
  <agm-marker [latitude]="trash6.lat" [longitude]="trash6.lng"></agm-marker>
  <agm-marker [latitude]="trash7.lat" [longitude]="trash7.lng"></agm-marker>
  <agm-marker [latitude]="trash8.lat" [longitude]="trash8.lng"></agm-marker>
  <agm-marker [latitude]="trash9.lat" [longitude]="trash9.lng"></agm-marker>
  <agm-marker [latitude]="trash10.lat" [longitude]="trash10.lng"></agm-marker>
  
  
</agm-map>